<mat-list role="list" class="d-flex ">
  <mat-list-item role="listitem"><a routerLink="/" class="text-white text-decoration-none" >Home</a></mat-list-item>
  <mat-list-item role="listitem"> <a routerLink="/" class="text-white text-decoration-none" >Eu</a> </mat-list-item>
  <mat-list-item role="listitem"> <a routerLink="/" class="text-white text-decoration-none" >Serviços</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="/" class="text-white text-decoration-none" >Portfólio</a></mat-list-item>
  <mat-list-item role="listitem"> <a routerLink="/" class="text-white text-decoration-none" >Contato</a></mat-list-item>
  

</mat-list>